<label class="titulo">
  <h1>Próximas consultas</h1>
</label>

<carousel [pauseOnFocus]="true">
    <slide>
      <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="../../../assets/goku.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Nome</h5>
            <p class="card-text">DATA HORa</p>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/vegeta.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">DATA HORa</p>
            
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/gohan.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">DATA HORa</p>

          </div>
        </div>
      </div>
    </slide>

    <slide>
      <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="../../../assets/goku.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">abc</h5>
            <p class="card-text">DATA HORa</p>
            
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/vegeta.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">DATA HORa</p>
            
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/gohan.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">DATA HORa</p>
            
          </div>
        </div>
      </div>
    </slide>

    <slide>
      <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="../../../assets/goku.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">DATA HORa</p>
            
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/vegeta.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">DATA HORa</p>
            
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/gohan.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">DATA HORa</p>
            
          </div>
        </div>
      </div>
    </slide>

  </carousel>

  