<label class="titulo">
  <h1>Próximas consultas</h1>
</label>

<carousel [pauseOnFocus]="true">
  <slide *ngFor="let card of cards" id="slider">
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="{{ card.paciente.foto }}"
        alt="Card image cap"
      />
      <div class="card-body">
        <h1 class="card-title">{{ card.paciente.nome }}</h1>
        <p class="card-text">{{ card.data | date: 'dd/MM/yyyy' }} - {{ card.hora }}</p>
      </div>
    </div>
  </slide>
</carousel>
