.titulo{
  display: flex;
  justify-content: center;
}
.titulo h1{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  color: #400485;
}


::ng-deep .carousel-control {
    display: none;
  }
.card-group > .card + .card {
  border: #400485 1px solid;
}
.carousel-item.active{
 
  display: flex;
  justify-content: center;
}

.card-img-top{
  height: 200px;
  max-width: 300px;
}
